# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\OneDrive\Documents\CSC 174\assignment 3\hardware store\.idea/dataSources/
/dataSources.local.xml
